@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

.bg-linear-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}